/* Reset and Common Styles */
* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  font-family: 'Sen', sans-serif;
  font-weight: 400;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-size: 2.5rem;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  background-color: var(--white);
}

:root {
  --black: #2c2c2c;
  --blue: #5392c0;
  --white: #f1f1f1;
  --grey: #c4c4c4;
}

a {
  color: var(--black);
}

/* End of Reset and Common Styles */

/* Home style */

img {
  width: 2rem;
}

.home {
  height: 100vh;
}

/* BACKGROUND */
.background {
  position: absolute;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}

.background__container{
  position: relative;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
}

.spikes__container {
  width:32rem;
  position: relative;
}

.spike{
  width: 100%;
}

.spike:nth-child(1){
  position: absolute;
  left: 0;
  top: 10rem;
}
.spike:nth-child(2){
  position: absolute;
  left: 12rem;
  top: -5rem;
}
.spike:nth-child(3){
  position: absolute;
  left: 22rem;
  top: 15rem;
}
.spikes--top-right{
  top: -158rem;
  left: 70vw;
}

.spikes--right{
  width: 50rem;
  top: 60rem;
  left: 162rem;
}

.spikes--right .spike:nth-child(1){
  position: absolute;
  left: 0;
  top: 0;
}
.spikes--right .spike:nth-child(2){
  width: 35rem;
  position: absolute;
  top: 5rem;
}
.spikes--right .spike:nth-child(3){
  position: absolute;
  left: -5rem;
  top: calc(15rem/1.6);
}

.spikes--bottom-left{
  top: 50rem;
  left: 1.7rem;
}

.home__square{
  width: 40rem;
  position: absolute;
  top: 8rem;
  left: 25rem;
}

.home__dots{
  width: 40rem;
  position: absolute;
  top: 20rem;
  left: 1rem;
}
/* END OF BACKGROUND */

.home__navbar {
  width: 95%;
  height: 15rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10rem;
}

.navbar__logo {
  width: 18rem;
}

.navbar__items {
  color: var(--black);
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar__item::first-letter {
  color: var(--blue);
}

.home__sidebar {
  position: absolute;
  background-color: var(--black);
  top: 0;
  right: 0;
  width: 5%;
  height: 95vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar__follow {
  display: flex;
  align-items: center;
  width: 100rem;
  justify-content: space-between;
  color: var(--white);
  transform: rotate(90deg);
}

.follow__text {
  font-size: 1.8rem;
  width: 14rem;
}

.follow__line {
  width: 8rem;
  height: 0.2rem;
  background-color: var(--blue) !important;
  border: none;
  margin: 1rem;
}

.follow__link {
  width: 2rem;
  height: 2rem;
  transform: rotate(-90deg);
  margin: 1rem;
}

.home__container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: -1;
}

.box-center {
  display: flex;
  justify-content: center;
  align-self: center;
  flex-direction: column;
  text-align: center;
}
.box-center__logo {
  width: 85rem;
}
.box-center__logo--line {
  position: absolute;
  width: 86rem;
}

.box-center__text {
  letter-spacing: 4rem;
  color: var(--blue);
  font-size: 3.5rem;
}

.home__footer {
  width: 80rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 0 auto;
  position: relative;
  top: 75vh;
}

.footer__arrow{
  width: 4rem;
  height: 4rem;
}

.footer__line{
  width: 20rem;
  height: .5rem;
  border: none;
  background-color: var(--black);
}

/* End of home */


/*  */